ip: 192.168.56.56
memory: 2048
cpus: 2
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: 'C:\Users\Dimas\Code\alvar_ru'
        to: /home/vagrant/alvar_ru
sites:
    -
        map: alvar.test
        to: /home/vagrant/alvar_ru/public
        php: "8.1"
databases:
    - alvar_ru
features:
    -
        mysql: true
    -
        mariadb: false
    -
        postgresql: false
    -
        ohmyzsh: true
    -
        webdriver: false
services:
    -
        enabled: [mysql]
ports:
    -
        send: 33060
        to: 3306
name: alvar-ru
hostname: alvar-ru
