/* ./resources/css/app.css */

/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-primary dark:text-primary-darker border-b border-primary hover:border-black dark:hover:border-light hover:text-black dark:hover:text-light border-opacity-30 dark:border-opacity-30 transition duration-300 ease-in-out;
    }

    .button {
        @apply py-2 px-4 text-light dark:text-light bg-primary dark:bg-primary rounded hover:bg-primary-darker dark:hover:bg-primary-darker transition duration-300 ease-in-out focus:outline-none;
    }
    /* .site-avatar {
        @apply mr-4 w-12 h-12 border-4 rounded-full border-light-white dark:border-dark-lighter hover:border-primary dark:hover:border-primary-darker transition duration-500 ease-in-out;
    } */

    .site-header-content {
        /* height: 300px; */
    }

    .site-main {
        @apply max-w-7xl mx-auto md:my-2 px-5 md:px-0 flex flex-wrap flex-col justify-center;
    }

    .menu-item {
        @apply block relative px-4 py-2 border-0 text-black dark:text-light hover:text-light dark:hover:text-light-white hover:bg-primary dark:hover:bg-primary-darker rounded-md;
    }

    .menu-item.active {
        @apply text-primary dark:text-primary-darker hover:text-light dark:hover:text-light-white;
    }

    .category-button {
        @apply block py-1 px-2 border text-primary dark:text-primary-darker hover:text-light dark:hover:text-light border-primary hover:border-primary  hover:bg-primary dark:hover:bg-primary-darker rounded;
    }

    .menu_link {
        display: none;
        width: 40px;
        height: 40px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 999;
        background-color: #f6f6f6;
    }

    .menu_link span,
    .menu_link span::before,
    .menu_link span::after {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-left: -6px;
        margin-top: -1px;
        width: 12px;
        height: 2px;
        background-color: #22272e;
        transition: all 0.3s;
    }

    .menu_link span::before {
        content: "";
        margin-top: -5px;
    }

    .menu_link span::after {
        content: "";
        margin-top: 3px;
    }

    .menu_link_active span {
        background: transparent;
    }

    .menu_link_active span::before {
        transform: rotate(-135deg);
        margin-top: 0;
        width: 12px;
        margin-left: -6px;
    }

    .menu_link_active span::after {
        transform: rotate(135deg);
        margin-top: 0;
        width: 12px;
        margin-left: -6px;
    }

    .post-page {
        /* max-width: 960px; */
        @apply max-w-4xl;
    }

    .post-block {
        @apply max-w-4xl;
    }

    .post-content h* {
        @apply font-header;
    }

    .post-content h1 {
        @apply text-2xl text-dark dark:text-light-gray font-bold mt-6;
    }

    .post-content h2 {
        @apply text-xl text-dark dark:text-light-gray font-bold mt-6;
    }

    .post-content h3 {
        @apply text-lg text-dark dark:text-light-gray font-bold mt-6;
    }

    .post-content p code {
        @apply font-mono bg-black dark:bg-gray text-light-gray dark:text-dark p-1 rounded-md;
    }

    .post-content blockquote, .note blockquote {
        @apply bg-light-gray rounded-lg pl-3 py-1 my-5 dark:bg-dark border-l-7 border-primary dark:border-primary-darker;
    }

    .post-content pre, .note pre {
        @apply overflow-x-auto rounded-lg my-6 pl-3 py-3 text-sm sm:text-base font-mono md:max-w-screen-md lg:max-w-full;
    }

    .post-content a {
        @apply no-underline text-lg;
    }

    .post-content p,
    .post-content a,
    .post-content blockquote,
    .post-content ol li,
    .post-content ul li {
        @apply leading-snug font-blog font-normal;
    }

    .post-content ol li,
    .post-content ul li,
    .note ol li, .note ul li {
        @apply list-inside;
    }

    .post-content ol,
    .post-content ul
    .note ol, .note ul {
        @apply ml-4;
    }

    .post-content ol li, .note ol li {
        @apply list-decimal;
    }

    .post-content ul li, .note ul li {
        @apply list-disc;
    }

    .post-content p {
        @apply my-4 text-base sm:text-lg sm:leading-snug max-w-3xl;
    }

    .post-content img {
        @apply my-4 max-w-full shadow-lg rounded-md;
    }

    .post-content .caption {
        @apply text-sm mb-5 max-w-3xl text-center;
    }

    .post-content table, .note table {
        @apply mx-auto my-5;
    }
    .post-content table caption, .note table caption {
        @apply my-2;
    }
    .post-content th, .note th {
        @apply text-center py-3 px-4 uppercase font-semibold border;
    }

    .post-content td, .note td {
        @apply text-center py-3 px-4 border;
    }

    .note h1 {
        @apply text-base font-semibold text-black dark:text-light-gray my-2;
    }

    .note h2 {
        @apply text-sm font-semibold text-black dark:text-light-gray my-2;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    @apply bg-primary-darker;
}

/* input:focus + .slider {
        box-shadow: 0 0 1px #10b981;
    } */

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* .code-toolbar {
    max-width: 40rem !important;
} */

/* pre[class*="language-"] {
    overflow-x: scroll !important;
} */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.ProseMirror {
    font-size: 16px !important;
}

.toastui-editor-md-heading1 {
    font-size: 26px  !important;
}

.toastui-editor-md-heading2 {
    font-size: 24px  !important;
}

.toastui-editor-md-heading3 {
    font-size: 22px  !important;
}

.toastui-editor-md-heading4 {
    font-size: 20px  !important;
}

.toastui-editor-md-heading5 {
    font-size: 18px  !important;
}

.toastui-editor-md-heading6 {
    font-size: 16px  !important;
}

.toastui-editor-contents {
    font-size: 16px  !important;;
}