/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-primary-darker dark:text-primary hover:text-black dark:hover:text-light transition duration-300 ease-in-out; 
    }

    .button {
        @apply py-2 px-4 text-dark dark:text-light bg-light-gray dark:bg-dark border border-primary rounded hover:text-light hover:bg-primary dark:hover:bg-primary transition duration-300 ease-in-out focus:outline-none;
    }
    .site-home-header {
        /* min-height: 370px; */
    }

    .site-header-content {
        /* height: 300px; */
    }

    .site-nav {
        min-height: 40px;
    }
    
    .menu_link {
        display: none;
        width: 40px;
        height: 40px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 999;
        background-color: #f6f6f6;
    }
    
    .menu_link span, .menu_link span::before, .menu_link span::after {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-left: -6px;
        margin-top: -1px;
        width: 12px;
        height: 2px;
        background-color: #22272e;
        transition: all 0.3s;
    }
    
    .menu_link span::before {
        content: "";
        margin-top: -5px;
    }
    
    .menu_link span::after {
        content: "";
        margin-top: 3px;
    }
    
    .menu_link_active span {
        background: transparent;
    }
    
    .menu_link_active span::before {
        transform: rotate(-135deg);
        margin-top: 0;
        width: 12px;
        margin-left: -6px;
    }
    
    .menu_link_active span::after {
        transform: rotate(135deg);
        margin-top: 0;
        width: 12px;
        margin-left: -6px;
    }

    /* Progress bar */
    progress {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
                appearance: none;
        border: none;
        background: transparent;
        color: orange;
        z-index: 1000;
    }
    
    progress::-webkit-progress-bar {
        background: transparent;
    }
    
    progress::-webkit-progress-value {
        background: orange;
    }
    
    progress::-moz-progress-bar {
        background: orange;
    }
    
    .progress-container {
        width: 100%;
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        height: 3px;
        display: block;
    }
    
    .progress-bar {
        background: orange;
        width: 0%;
        display: block;
        height: inherit;
    }

    .post-page {
        max-width: 960px;
    }

    .post-block {
        max-width: 768px;
    }

    .post-content h2 {
        @apply text-xl text-dark dark:text-light-gray font-bold mt-6; 
    }

    .post-content h3 {
        @apply text-lg text-dark dark:text-light-gray font-bold mt-6;
    }

    .post-content pre {
        @apply overflow-x-auto my-6 pl-3 py-3 text-sm font-mono bg-light-gray dark:bg-dark border-l-7 border-primary-darker dark:border-primary md:max-w-screen-sm lg:max-w-full;
    }

    .post-content a {
        @apply no-underline;
      }
    
    .post-content p, .post-content blockquote, .post-content ol li, .post-content ul li {
        @apply leading-snug;
    }

    .post-content ol li, .post-content ul li {
        @apply list-inside;
    }

    .post-content ol, .post-content ul {
        @apply ml-4;
    }

    .post-content ol li {
        @apply list-decimal;
    }

    .post-content ul li {
        @apply list-disc;
    }

    .post-content p {
        @apply my-4;
    }

    .post-content table {
        @apply mx-auto
    }
    .post-content table caption {
        @apply my-2
    }
    .post-content th {
        @apply text-center py-3 px-4 uppercase font-semibold border
    }
      
    .post-content td {
        @apply text-center py-3 px-4 border
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 17px;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e9e9e9;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 0px;
        bottom: 4px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-shadow: 0 0px 15px #2020203d;
        background: white url('/assets/images/sunny.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
      }
      
      input:checked + .slider {
        @apply bg-primary;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
        transform: translateX(24px);
        background: #6c6c6c url('/assets/images/night.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 10px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }


}